@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-primaria: white;
    --cor-secundaria: #0A3871;
    --cor-hover: #d4e4fa; 
    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #f3f5fc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; 
}

header {
    padding: 2% 0 0 4%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    gap: 40px;
}

.container__1 {
    width: 60%;
}

#textoParaCriptografar {
    width: 100%;
    height: 288px;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    resize: none;
    border: none; 
    outline: none; 
    background-color: transparent; 
}

#textoParaCriptografar::placeholder {
    color: var(--cor-secundaria);
}

.container__1__aviso {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: #495057;
}

.botoes {
    display: flex;
    gap: 1.5rem;
}

.botao {
    flex-grow: 1; 
    font-weight: 400;
    border: 1px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 1.5rem;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: var(--cor-hover);
}

#botaoCriptografar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.container__2 {
    width: 35%;
    padding: 2%;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mensagemPadrao img {
    max-width: 80%; 
}

#mensagemPadrao h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

#mensagemPadrao p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

#resultado__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textoResultado {
    width: 100%;
    height: 85%; 
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    resize: none;
    border: none;
    outline: none;
}

.botao__copiar {
    width: 100%; 
    font-weight: 400;
    border: 1px solid var(--cor-secundaria);
    border-radius: 1.5rem;
    padding: 1rem 0;
    color: var(--cor-secundaria);
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao__copiar:hover {
    background-color: var(--cor-hover);
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 15px 0;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5% 5%;
    }

    .container__1, .container__2 {
        width: 100%;
    }

    .container__2 {
        margin-top: 2rem;
        height: auto; 
        padding: 2rem;
    }

    .botoes {
        flex-direction: column; 
    }
}